.spin {
    animation: App-logo-spin infinite 20s linear;
}

.ReactTable .rt-th, .ReactTable .rt-td {
    display: flex;
    justify-content: center;
}

.buttonToolbar {
    display: flex;
    justify-content: center !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.buttonGroup {
    display: flex;
    justify-content: center !important;
}

.btn-grp {
    margin-right: 10px !important;
}

.modal-title {
    display: flex !important;
    justify-content: center !important;
}
